*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 6em;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
.header__active {
  transition: 200ms ease-in-out;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo__img {
  width: 80%;
  height: fit-content;
}
.menu__btn {
  display: none;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  border: none;
  align-items: center;
  justify-content: center;
  color: #e4e4e4;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.menu__btn:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(223, 180, 73, 1);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important;
}
.nav__header__link {
  margin-right: 2em;
  font-size: 16px;
  color: #dfb449;
}
.nav__header__link:hover {
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.1);
}
.nav__header__link {
  background-color: transparent;
  width: fit-content;
  height: 45px;
  padding: 1em;
  border-radius: 10px;
}
.nav__header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  cursor: pointer;
}
.nav__header__btn:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(223, 180, 73, 1);
}
.main__section__container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 110vh;
}
.main__section__container__img {
  width: 100%;
  height: 100%;
}
.main__section__container__wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 8em;
  display: flex;
  align-items: center;
}
.side__panel {
  transform: rotate(270deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -160px;
  top: 40%;
  z-index: 10;
}
.side__panel__link {
  width: fit-content;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #530934;
  cursor: pointer;
}
.side__panel__link svg {
  margin-right: 0.8em;
}
.side__panel__link:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}
.side__panel__link__primary {
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  margin-left: 0.5em;
}
.side__panel__link__primary:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(223, 180, 73, 1);
}
.main__section__container__wrap__links {
  width: fit-content;
  height: fit-content;
  z-index: 10;
}
.main__section__container__wrap__link {
  display: flex;
  align-items: center;
  background-color: rgba(83, 9, 52, 0);
}
.main__section__container__wrap__link__img {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}
.main__section__container__wrap__link__text {
  color: #dfb449;
  font-size: 16px;
  position: relative;
}
.main__section__container__wrap__link__text::after {
  content: "";
  width: 0%;
  height: 2px;
  border-radius: 3px;
  position: absolute;

  top: 22px;
  left: 0px;
  background-color: #e4e4e4;
}
.main__section__container__wrap__link:hover
  .main__section__container__wrap__link__img {
  transition: 200ms ease-in-out;
  mix-blend-mode: luminosity;
  transform: scale(1.1);
}
.main__section__container__wrap__link:hover
  .main__section__container__wrap__link__text {
  transition: 200ms ease-in-out;
  color: #e4e4e4;
}
.main__section__container__wrap__link:hover
  .main__section__container__wrap__link__text::after {
  transition: 200ms ease-in-out;
  width: 100%;
}
.main__section__container__wrap__bottom {
  position: absolute;
  bottom: 45px;
  left: 0px;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.527));
}
.apartment__details__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.apartment__details__container__img {
  position: absolute;
  top: calc(50% - 200px);
  width: 400px;
  height: 400px;
  right: -200px;
  opacity: 0.2;
  z-index: -1;
}
.apartment__details__container__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apartment__details__container__wrapper__content {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apartment__details__container__wrapper__content__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.apartment__details__container__wrapper__content__left__heading {
  font-size: 25px;
  color: #242424;
  margin-bottom: 2em;
  position: relative;
}
.apartment__details__container__wrapper__content__left__heading::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0px;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: #dfb449;
}
.apartment__details__container__wrapper__content__left__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}
.apartment__details__container__wrapper__content__left__sub__heading {
  font-size: 18px;
  color: #242424;
}
.apartment__details__container__wrapper__content__left__select {
  width: 120px;
  background-color: #e4e4e4;
  border: none;
  outline: none;
  color: #242424;
  padding: 1em;
  border-radius: 5px;
}
.apartment__details__container__wrapper__content__left__range {
  margin-bottom: 1.5em;
}
.apartment__details__container__wrapper__content__left__button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: #242424;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1em;
}
.apartment__details__container__wrapper__content__left__button::hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}
.apartment__details__container__wrapper__content__middle {
  flex: 1;
  background-color: #530934;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  margin: 0em 3em;
  overflow-y: auto;
  height: 600px;
}
.apartment__details__container__wrapper__content__middle::-webkit-scrollbar {
  width: 10px;
}
.apartment__details__container__wrapper__content__middle::-webkit-scrollbar-thumb {
  background-color: #dfb449;
  border-radius: 20px;
}
.apartment__details__container__wrapper__content__middle::-webkit-scrollbar-track {
  background-color: #530934;
  border-radius: 20px;
}
.apartment__details__container__wrapper__content__middle__entry__wrapper {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}
.apartment__details__container__wrapper__content__middle__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.apartment__details__container__wrapper__content__middle__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #782554;
  border: none;
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 1em;
  height: 100px;
}
.apartment__details__container__wrapper__content__middle__entry__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.apartment__details__container__wrapper__content__middle__entry__bar {
  width: 2px;
  border-radius: 3px;
  height: 100%;
  background-color: #fcf2e8;
}
.apartment__details__container__wrapper__content__middle__entry__content__value {
  font-size: 18px;
  color: #fcf2e8;
  font-weight: bold;
}
.apartment__details__container__wrapper__content__middle__entry__content__label {
  font-size: 14px;
  color: #fcf2e8;
}
.apartment__details__container__wrapper__content__middle__entry__input:hover
  ~ .apartment__details__container__wrapper__content__middle__entry {
  transition: 200ms ease-in-out;
  background-color: lighten(#782554, 5%);
}
.apartment__details__container__wrapper__content__middle__entry__input:checked
  ~ .apartment__details__container__wrapper__content__middle__entry {
  transition: 200ms ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}
.apartment__details__container__wrapper__content__middle__entry__input:checked
  ~ .apartment__details__container__wrapper__content__middle__entry
  .apartment__details__container__wrapper__content__middle__entry__bar {
  background-color: #242424;
}
.apartment__details__container__wrapper__content__middle__entry__input:checked
  ~ .apartment__details__container__wrapper__content__middle__entry
  .apartment__details__container__wrapper__content__middle__entry__content__value {
  color: #242424;
}
.apartment__details__container__wrapper__content__middle__entry__input:checked
  ~ .apartment__details__container__wrapper__content__middle__entry
  .apartment__details__container__wrapper__content__middle__entry__content__label {
  color: #242424;
}
.apartment__details__container__wrapper__content__right {
  flex: 1;
}
.apartment__details__container__wrapper__content__right__heading {
  font-size: 25px;
  color: #242424;
  margin-bottom: 1em;
  position: relative;
}
.apartment__details__container__wrapper__content__right__heading::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0px;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: #dfb449;
}
.apartment__details__container__wrapper__content__right__img {
  width: 100%;
}
.apartment__details__container__wrapper__content__right__tabs {
  padding: 0.5em;
  border-radius: 50px;
  background-color: #530934;
  display: flex;
  align-items: center;
}
.apartment__details__container__wrapper__content_right__tabs__entry {
  position: relative;
  flex: 1;
}
.apartment__details__container__wrapper__content_right__tabs__entry__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
.apartment__details__container__wrapper__content_right__tabs__entry__content {
  border-radius: 50px;
  background-color: transparent;
  height: 50px;
  color: #fcf2e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apartment__details__container__wrapper__content_right__tabs__entry__input:hover
  ~ .apartment__details__container__wrapper__content_right__tabs__entry__content {
  transition: 200ms ease-in-out;
  background-color: #b35a8b;
}
.apartment__details__container__wrapper__content_right__tabs__entry__input:checked
  ~ .apartment__details__container__wrapper__content_right__tabs__entry__content {
  transition: 200ms ease-in-out;
  background-color: #b35a8b;
}
.apartment__details__container__wrapper__content__right__data__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  margin-top: 1em;
}
.apartment__details__container__wrapper__content__right__data__row__label {
  font-size: 14px;
  color: #242424;
}
.apartment__details__container__wrapper__content__right__data__row__value {
  font-size: 15px;
  color: #530934;
  font-weight: bold;
}
.banner__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.banner__container__img {
  display: flex;
  height: 100%;
  width: 100%;
}
.banner__container__content {
  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__content__wrapper {
  background-color: rgba(107, 15, 67, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 350px;
  border-radius: 10px;
  position: relative;
}
.banner__container__content__heading {
  display: flex;
  font-size: 42px;
  color: #fcf2e8;
  text-align: center;
  max-width: 60%;
  line-height: 50px;
  margin-bottom: 1em;
}
.banner__container__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #fcf2e8;
}
.banner__container__content__logo__container {
  position: absolute;
  bottom: -35%;
}
.surrounding__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.surrounding__container__img {
  z-index: 2;
  position: absolute;
  right: -200px;
  width: 400px;
  height: 400px;
  top: calc(50% - 200px);
  opacity: 0.2;
}
.surrounding__container__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.surrounding__container__wrapper__img {
  width: 70%;
  height: 600px;
}
.surrounding__container__wrapper__details {
  background-color: #530934;
  border-radius: 20px;
  padding: 3em;
  width: 25%;
  max-width: 400px;
  margin-right: 3%;
}
.surrounding__container__wrapper__details__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0em;
}
.surrounding__container__wrapper__details__entry__label {
  font-size: 18px;
  color: #dfb449;
}
.surrounding__container__wrapper__details__entry__value {
  font-size: 18px;
  color: #e4e4e4;
}
.building__details__container {
  background-color: #530934;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.building__details__container__content__img {
  position: absolute;
  bottom: -150px;
  left: -550px;
}
.building__details__container__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 2;
}
.banner__container__content__ring__logo {
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -150px;
  right: -150px;
  opacity: 0.5;
}
.building__details__container__wrapper__content {
  display: flex;
  flex-direction: column;
  margin-left: 12em;
  width: 60%;
  height: 50%;
}
.building__details__container__wrapper__heading {
  display: flex;
  font-size: 40px;
  color: #fcf2e8;
}
.building__details__container__wrapper__heading__line {
  width: 5%;
  height: 4px;
  border-radius: 4px;
  background-color: #ebc35f;
}
.building__details__container__wrapper__cards__container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin-top: 1em;
}
.building__details__container__wrapper__content__entries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}
.building__details__container__wrapper__card {
  display: flex;
  align-items: center;
  padding: 1.5em 1.5em;
  width: 32%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  transition: 200ms;
  margin-bottom: 1em;
  color: #dfb449;
  cursor: pointer;
}
.building__details__container__wrapper__card__content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
.building__details__container__wrapper__card__content__top {
  font-size: 18px;
  color: #ebc35f;
  font-weight: 500;
}
.building__details__container__wrapper__card__content__bottom {
  font-size: 18px;
  color: #fcf2e8;
  font-weight: 500;
}
.building__details__container__wrapper__card:hover {
  transition: 200ms ease-in-out;
  background-color: #dfb449;
  color: #fcf2e8;
}
.building__details__container__wrapper__card:hover
  .building__details__container__wrapper__card__content__top {
  color: #fcf2e8;
}
.building__details__container__wrapper__card:hover
  .building__details__container__wrapper__card__content__bottom {
  color: #fcf2e8;
}
.photo__gallery__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo__gallery__container__heading {
  font-size: 40px;
  color: #3b3b3b;
  margin-bottom: 2em;
}
.photo__gallery__container__content {
  width: 100%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.photo__gallery__container__content__img {
  width: 32%;
  margin-bottom: 1em;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.contact__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.contact__container__img {
  position: absolute;
  top: calc(50% - 200px);
  left: -200px;
  width: 350px;
  height: 350px;
}
.contact__container__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.contact__container__content__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3em;
  height: fit-content;
  width: 80%;
}
.contact__container__content__form__left {
  width: 50%;
}
.contact__container__content__form__sub__heading {
  font-size: 16px;
  color: #242424;
}
.contact__container__content__form__sub__heading__line {
  height: 2px;
  width: 12%;
  border-radius: 2px;
  background-color: #dfb449;
  margin-bottom: 1em;
}
.contact__container__content__form__heading {
  font-size: 35px;
  color: #242424;
}
.contact__container__content__form__heading span {
  color: #e4bd56;
}
.contact__container__content__form__info {
  margin: 1.6em 0em;
  font-size: 14px;
  color: #5e5c5c;
}
.contact__container__content__form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}
.contact__container__content__form__row__spacer {
  width: 2em;
}
.contact__container__content__form__input {
  display: flex;
  width: 100%;
  background-color: #f7f7f7;
  height: 40px;
  border: 1px solid #f7f7f7;
  outline: none;
  border-radius: 5px;
  padding: 0px 1em;
  transition: 200ms;
}
.contact__container__content__form__input:hover {
  border-color: #e4bd56;
}
.contact__container__content__form__input:focus {
  border-color: #e4bd56;
}
.contact__container__content__form__col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin: 1em 0em;
}
.contact__container__wrapper {
  height: fit-content;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container__content__form__textarea {
  display: flex;
  flex: 1;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  outline: none;
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 1em;
}
.contact__container__content__form__textarea:hover {
  border-color: #e4bd56;
}
.contact__container__content__form__textarea:focus {
  border-color: #e4bd56;
}
.contact__container__content__form__button {
  width: 35%;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
}
.contact__container__content__form__right {
  display: flex;
  width: 45%;
}
.contact__container__content__form__right__map {
  width: 100%;
  height: 80%;
}
.contact__container__content__form__right__map iframe {
  min-width: 100%;
  height: 400px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.contact__container__content__form__right__phone {
  margin: 0.5em;
  font-size: 14px;
  color: #530934;
}
.contact__container__content__form__right__phone__number {
  font-size: 14px;
  color: #3b3b3b;
}
.social__links {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-color: #530934;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms;
}
.social__links:hover {
  background-color: #350520;
}
.contact__container__content__form__right__bottom__content__social__links {
  display: flex;
}
.social__links {
  margin-left: 6px;
}
.contact__container__content__form__right__bottom__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container__wrapper__left {
  width: 50%;
  position: relative;
}
.contact__container__wrapper__left__img {
  position: absolute;
  top: -120px;
  left: -100px;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  mix-blend-mode: luminosity;
  z-index: -1;
}
.contact__container__wrapper__left__wrapper {
  width: 100%;
  height: 100%;
}
.contact__container__wrapper__left__wrapper__heading {
  font-size: 30px;
  color: #530934;
  margin-bottom: 1em;
}
.contact__container__wrapper__left__wrapper__heading::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: #ffab00;
}
.contact__container__wrapper__left__wrapper__info {
  font-size: 14px;
  margin-bottom: 2em;
}
.contact__container__wrapper__left__wrapper__img {
  border-radius: 20px;
}
.contact__container__wrapper__right {
  width: 400px;
  background-color: #530934;
  border-radius: 20px;
  padding: 4em 2.5em;
  display: flex;
  flex-direction: column;
}
.contact__container__wrapper__right__heading {
  font-size: 25px;
  color: white;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__wrapper__right__heading::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  width: 70px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffab00;
}
.contact__container__wrapper__right__info {
  font-size: 14px;
  color: white;
  margin-bottom: 2em;
}
.contact__container__wrapper__right__input {
  color: white;
  width: 100%;
  height: 45px;
  padding: 0em 1.5em;
  background-color: #710343;
  margin-bottom: 1.5em;
  border-radius: 8px;
  border: 1px solid #710343;
  outline: none;
}
.contact__container__wrapper__right__input::placeholder {
  color: white;
}
.contact__container__wrapper__right__input:hover {
  border-color: #dfb449;
}
.contact__container__wrapper__right__input:focus {
  border-color: #dfb449;
  border-width: 2px;
}
.contact__container__wrapper__right__button {
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  height: 43px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}
.footer__container {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer__container__bar {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
.footer__container__bar__entry {
  background-color: #dfb449;
  height: 100%;
  flex: 1;
}
.footer__container__bar__entry__active {
  background-color: #530e36;
  height: 100%;
  flex: 1;
}
.multi-range-slider {
  box-shadow: none !important;
  border: none !important;
  padding: 1em 0em !important;
  padding-bottom: 1.5em !important;
}
.multi-range-slider .thumb::before {
  border: 2px solid #acacac !important;
  box-shadow: none !important;
}
.bar-inner {
  border: none !important;
  background: linear-gradient(90deg, #dfb449, #ecce6d) !important;
  box-shadow: none !important;
}
.bar-inner-left,
.bar-inner-right {
  background-color: transparent !important;
}
.min-value,
.max-value {
  background-color: #fcf2e8 !important;
  color: #3b3b3b !important;
}
.bar-right,
.bar-left {
  background-color: #acacac !important;
  box-shadow: none !important;
}
.transport__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.transport__container__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.transport__container__wrapper__img {
  width: 100%;
  height: 100%;
}
.transport__container__wrapper__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    rgba(83, 9, 52, 0.8),
    rgba(83, 9, 52, 0.3),
    rgba(83, 9, 52, 1)
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8em;
}
.transport__container__wrapper__content__heading {
  font-size: 40px;
  color: white;
  margin-bottom: 0.5em;
}
.transport__container__wrapper__content__info {
  font-size: 16px;
  color: white;
  width: 50%;
}
.transport__container__wrapper__content__link {
  width: fit-content;
  padding: 0.7em 1.5em;
  border-radius: 5px;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  border: none;
  font-size: 16px;
  margin-top: 1.5em;
  color: #242424;
}
.transport__container__wrapper__content__link:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(223, 180, 73, 1);
}
.transport__container__wrapper__controls {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0em;
}
.transport__container__wrapper__controls__entry {
  position: relative;
}
.transport__container__wrapper__controls__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.transport__container__wrapper__controls__entry__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(236, 206, 109, 0.3)
  );
  width: 130px;
  height: 110px;
  border-radius: 10px;
  margin: 0em 0.5em;
  padding: 1em;
  color: #e4e4e4;
}
.transport__container__wrapper__controls__entry__text {
  font-size: 14px;
  color: inherit;
  white-space: nowrap;
  margin-top: 1em;
}
.transport__container__wrapper__controls__entry__input:hover
  ~ .transport__container__wrapper__controls__entry__content,
.transport__container__wrapper__controls__entry__input:checked
  ~ .transport__container__wrapper__controls__entry__content {
  transition: 200ms ease-in-out;
  background: linear-gradient(90deg, #dfb449, #ecce6d);
  color: #242424;
}
.contact__container__second {
  background-color: #000000;
}
.construction__update__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.construction__update__container__img {
  width: 100%;
  height: 100%;
}
.construction__update__container__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.construction__update__container__wrapper__content {
  width: 100%;
  max-width: 1200px;
  height: 75%;
  display: flex;
  flex-direction: column;
}
.construction__update__container__wrapper_content__carousel {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}
.construction__update__container__wrapper_content__carousel__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.construction__update__container__wrapper_content__carousel__wrapper {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  display: flex;
  align-items: flex-end;
  padding: 3em;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}
.construction__update__container__wrapper_content__carousel__wrapper__content {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
}
.construction__update__container__wrapper_content__carousel__left {
  width: 75%;
}
.construction__update__container__wrapper_content__carousel__heading {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 0.5em;
}
.construction__update__container__wrapper_content__carousel__info {
  font-size: 16px;
  color: #ffffff;
}
.construction__update__container__wrapper_content__carousel__right {
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.construction__update__container__wrapper_content__carousel__progress__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 2em;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.3em;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot__small {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__time {
  text-align: center;
  margin-top: 1em;
  color: #ffffff;
}

.construction__update__container__wrapper_content__carousel__progress__controls__button__input:hover
  ~ .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper
  .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot,
.construction__update__container__wrapper_content__carousel__progress__controls__button__input:checked
  ~ .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper
  .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot {
  transition: 200ms ease-in-out;
  border-color: #ffffff;
}
.construction__update__container__wrapper_content__carousel__progress__controls__button__input:hover
  ~ .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper
  .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot__small,
.construction__update__container__wrapper_content__carousel__progress__controls__button__input:checked
  ~ .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper
  .construction__update__container__wrapper_content__carousel__progress__controls__button__wrapper__dot__small {
  transition: 200ms ease-in-out;
  background-color: #dfb449;
}
.construction__update__container__wrapper_content__carousel__progress__controls__bar {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 47px;
}
.plans__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  padding: 3em 0em;
}
.plans__container__heading {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 3em;
}
.plans__container__content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5em;
}
.plans__container__content__card {
  width: 32%;
  height: fit-content;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}
.plans__container__content__card__img {
  width: 100%;
  border-radius: 15px;
}
.plans__container__content__card__content {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.plans__container__content__card__content__heading {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.plans__container__content__card__content__info {
  font-size: 16px;
  color: #ffffff;
}
.plans__container__content__card:hover {
  transition: 200ms ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(223, 180, 73, 0.2),
    rgba(236, 206, 109, 0.2)
  );
}
.main__section__container__about__us {
  position: absolute;
  top: -15%;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0em 12em;
}
.main__section__container__about__us__heading {
  font-size: 30px;
  color: #e4bd56;
}
.main__section__container__about__us__sub__heading {
  font-size: 14px;
  color: #e4e4e4;
  text-align: center;
  margin-top: 1em;
}
.main__section__our__vision {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}
.main__section__our__vision__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.main__section__our__vision__wrapper__right {
  width: 45%;
  font-size: 14px;
  line-height: 20px;
}
.main__section__our__vision__wrapper {
  width: 70%;
  height: 1000px;
  justify-content: center;
  text-align: center;
  padding: 6em 3em;
  background-color: #ffffff;
  position: absolute;
  top: -35%;
  z-index: 3;
}
.about__pic {
  width: 100%;
  height: 270px;
}
.main__section__our__vision__wrapper__left__pic__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  width: 100%;
}
.about__pic2 {
  width: 100%;
}
.main__section__our__vision__ring {
  position: absolute;
  width: 40%;
  height: 80%;
  top: 20%;
  opacity: 0.2;
}
.our__vision__headings {
  font-size: 30px;
  color: #530934;
  padding: 0em 8em;
}
.our__vision__sub__heading {
  font-size: 14px;
  color: #474746;
  text-align: center;
  margin-top: 1em;
}
.main__section__our__vision__wrapper__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
}
.main__section__our__vision__wrapper__left {
  width: 50%;
  height: 200px;
}
.map__container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#530e36, #000000, #000000);
  padding: 8em 0em;
}
.map__container__content {
  width: 80%;
  position: relative;
  height: 100%;
}
.map__container__img {
  width: 100%;
  height: 100%;
}
.map__container__details {
  width: 350px;
  position: absolute;
  top: 25%;
  right: -150px;
  background: linear-gradient(#dfb449, #ecce6d);
  border-radius: 30px;
  padding: 2em;
}
.map__container__details__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.map__container__details__entry:last-child {
  margin-bottom: 0em;
}
.map__container__details__entry__label {
  font-size: 16px;
  color: #000000;
}
.map__container__details__entry__value {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .header {
    padding: 0.5em 1em;
    padding-right: 2em;
  }
  .nav__header__link {
    margin-right: 1em;
  }
  .photo__gallery__container {
    height: 1200px;
  }
  .transport__container__wrapper__img {
    width: fit-content;
  }
  .transport__container__wrapper__content {
    padding: 3em;
  }
  .photo__gallery__container__content {
    height: 1000px;
    padding: 1em 2em;
  }
  .photo__gallery__container__content__img {
    width: 48%;
    height: 300px;
  }
  .banner__content__wrapper {
    width: 60%;
  }
  .building__details__container__wrapper {
    align-items: flex-start;
    padding-top: 5em;
  }
  .building__details__container__wrapper__content {
    margin-left: 5em;
  }
  .building__details__container__wrapper__card {
    width: 48%;
  }
}
@media (max-width: 1000px) {
  .map__container {
    height: fit-content;
  }
  .map__container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .map__container__img {
    height: fit-content;
  }
  .map__container__details {
    margin-top: 2em;
    position: relative;
    width: 80%;
    left: 0px;
  }
  .plans__container__content {
    padding: 1em;
    flex-wrap: wrap;
  }
  .plans__container__content__card {
    width: 48%;
    margin-bottom: 2em;
  }
  .transport__container__wrapper__controls {
    flex-wrap: wrap;
    bottom: -100px;
  }
  .transport__container__wrapper__controls__entry {
    margin-bottom: 1em;
  }
  .transport__container__wrapper__content {
    padding: 7em 3em;
    justify-content: flex-start;
  }
  .banner__content__wrapper {
    width: 80%;
  }
  .transport__container__wrapper__content__info {
    width: 70%;
  }
  .main__section__container__img {
    width: fit-content;
    margin-left: -30%;
  }
  .header__nav {
    transition: 200ms ease-in-out;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    flex-direction: column;
    animation-name: fade, slide;
    animation-duration: 400ms, 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
    animation-delay: 200ms, 0;
    padding-bottom: 1em;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1) !important;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide {
    0% {
      margin-top: -10px;
    }
    100% {
      margin-top: 0px;
    }
  }

  @keyframes fade_reverse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slide_reverse {
    0% {
      margin-top: 0px;
    }
    100% {
      margin-top: -10px;
    }
  }
  .nav__header__link {
    margin-right: 0em;
    width: 100%;
  }
  .menu__btn {
    display: flex;
  }
}
@media (max-width: 800px) {
  .contact__container__second {
    height: 1250px;
  }
  .contact__container__content__form {
    flex-direction: column;
    margin-top: 2em;
  }
  .contact__container__content__form__row {
    flex-direction: column;
    justify-content: space-between;
    height: 98px;
  }
  .contact__container__content__form__row__spacer {
    width: 0px;
  }
  .contact__container__content__form__left {
    width: 100%;
  }
  .contact__container__content__form__right {
    margin-top: 2em;
    width: 100%;
  }
  .building__details__container {
    height: 1100px !important;
  }
  .photo__gallery__container {
    height: 2200px;
  }
  .photo__gallery__container__content {
    height: 1800px;
  }
  .transport__container__wrapper__content__info {
    width: 90%;
  }
  .photo__gallery__container__content__img {
    width: 100%;
  }
  .building__details__container__wrapper__content {
    margin-left: 0em;
  }
  .building__details__container__wrapper__card {
    width: 100%;
  }
  .main__section__container {
    overflow: hidden;
  }
  .main__section__container__img {
    width: fit-content;
    margin-left: -50%;
  }
  .main__section__container__wrap {
    background: linear-gradient(rgba(83, 9, 52, 0.5), rgba(228, 228, 228, 0.1));
  }
  .banner__content__wrapper {
    width: 90%;
  }
  .banner__container__content__heading {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .plans__container__content__card {
    width: 100%;
  }
  .main__section__container__img {
    margin-left: -110%;
  }
}
